<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Acout Us</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">

    <link th:href="@{/css/templatemo-tiya-golf-club.css}" rel="stylesheet">
<!--

TemplateMo 587 Tiya Golf Club

https://templatemo.com/tm-587-tiya-golf-club

-->
    </head>

    <body>

        <main>

            <div th:replace="fragments/topNav::userNavbar">

            </div>

            <section class="events-section events-detail-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-8 col-12 mx-auto">
                            <h2 class="mb-lg-5 mb-4">Tiya Club's Group Tournaments</h2>

                            <div class="custom-block-image-wrap">
                                <img th:src="@{/images/professional-golf-player.jpg}" class="custom-block-image img-fluid" alt="">
                            </div>

                            <div class="custom-block-info">
                                <h3 class="mb-3">Golf Club based in Orlando</h3>

                                <p>Tiya Golf Club is Bootstrap v5.3.0 HTML CSS template for your golf related websites. Anyone can download, edit and use this layout for commercial purposes.</p>

                            <p>Tiya is 100% free CSS template provided by TemplateMo website. Please tell your friends about our website. Thank you for visiting.</p>

                                <div class="events-detail-info row my-5">
                                    <div class="col-lg-12 col-12">
                                        <h4 class="mb-3">Event Detail</h4>
                                    </div>

                                    <div class="col-lg-4 col-12">
                                        <span class="custom-block-span">Date:</span>

                                        <p class="mb-0">18 Mar 2048</p>
                                    </div>

                                    <div class="col-lg-4 col-12 my-3 my-lg-0">
                                        <span class="custom-block-span">Location:</span>

                                        <p class="mb-0">Tiya Golf Club</p>
                                    </div>

                                    <div class="col-lg-4 col-12">
                                        <span class="custom-block-span">Ticket:</span>

                                        <p class="mb-0">$150</p>
                                    </div>
                                </div>

                                <div class="contact-info">
                                    <div class="contact-info-item">
                                        <div class="contact-info-body">
                                            <strong>London, United Kingdom</strong>

                                            <p class="mt-2 mb-1">
                                                <a href="tel: 010-020-0340" class="contact-link">
                                                    (020)
                                                    010-020-0340
                                                </a>
                                            </p>

                                            <p class="mb-0">
                                                <a href="mailto:info@company.com" class="contact-link">
                                                    info@company.com
                                                </a>
                                            </p>
                                        </div>

                                        <div class="contact-info-footer">
                                            <a href="#">Directions</a>
                                        </div>
                                    </div>

                                    <img th:src="@{/images/WorldMap.svg}" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <!-- JAVASCRIPT FILES -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.sticky.js}"></script>
        <script th:src="@{/js/custom.js}"></script>

    </body>
</html>
